.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed var(--color-pink);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.dropzone .dz-message {
  background: url(drop-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.dropzone .dz-preview .dz-error-message {
  top: 144px;
}

.dropzone .dz-preview .dz-progress {
  margin-top: 26px;
  background: var(--color-blue);
}