<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="assets/logo.svg" height="30px" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/swiper"> Vos partages </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              À propos
            </a>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="https://www.linkedin.com/in/sébastien-flouriot-99aa75205"
              >
                Mon LinkedIn
              </a>
              <a
                class="dropdown-item"
                href="https://www.youtube.com/channel/UCjwYESom5l53m9kS_OOnVqw"
              >
                Ma chaîne YouTube
              </a>
              <a class="dropdown-item" href="https://github.com/SebF33">
                Mon GitHub
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://github.com/SebF33/shareus">
                Repo Shareus
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
